<template>
  <div>
    <v-container>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
          <v-img
            class="white--text align-end"
            :aspect-ratio="16 / 9"
            contain
            :src="book?.volumeInfo?.imageLinks?.thumbnail"
          ></v-img>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
          <div class="pl-6">
            <p class="display-1 mb-0">{{ book?.volumeInfo?.title }}</p>
            <v-card-actions class="pa-0">
              <p class="headline font-weight-light pt-3">
                {{ book?.saleInfo?.retailPrice?.amount }}
                {{ book?.saleInfo?.retailPrice?.currencyCode }}
                <del style="" class="subtitle-1 font-weight-thin">
                  {{ book?.saleInfo?.listPrice?.amount }}
                  {{ book?.saleInfo?.listPrice?.currencyCode }}</del
                >
              </p>
              <v-spacer></v-spacer>
              <v-rating
                v-model="rating"
                class=""
                background-color="warning lighten-3"
                color="warning"
                dense
              ></v-rating>
              <span class="body-2 font-weight-thin"> 25 REVIEWS</span>
            </v-card-actions>

            <div>
              Authors :
              <span v-for="author in book?.volumeInfo.authors" :key="author">{{
                author
              }}</span>
            </div>
            <div>
              Published date :
              {{ moment(book?.volumeInfo.publishedDate).format("DD-MM-YYYY") }}
            </div>
            <div>Page Count : {{ book?.volumeInfo.pageCount }}</div>
            <div>
              Industry Identifiers
              <span
                v-for="(industryIdentifier, index) in book?.volumeInfo
                  .industryIdentifiers"
                :key="index"
              >
                <div>
                  {{ index + 1 }}. {{ industryIdentifier.identifier }} /
                  {{ industryIdentifier.type }}
                </div>
              </span>
            </div>
            <a target="_blank" :href="book?.saleInfo.buyLink"
              ><v-btn class="mt-10" outlined tile>buy a book</v-btn></a
            >
            <v-btn
              v-if="$store.getters.isBookInFavorites(book)"
              @click="removeFromFavorite"
              class="info ml-4 white--text mt-10"
              outlined
              tile
              dense
              ><v-icon>mdi-heart</v-icon> Remove From Favorite</v-btn
            >
            <v-btn
              v-else
              @click="addToFavorite"
              class="primary ml-4 white--text mt-10"
              outlined
              tile
              dense
              ><v-icon>mdi-heart-outline</v-icon> ADD TO FAVORITE</v-btn
            >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12">
          <v-tabs>
            <v-tab>Description</v-tab>
            <v-tab>REVIEWS</v-tab>
            <v-tab-item>
              <p
                v-html="book?.volumeInfo?.description"
                class="pt-10 subtitle-1 font-weight-thin"
              ></p>
            </v-tab-item>
            <v-tab-item> </v-tab-item>
          </v-tabs>
          <v-card-text class="pa-0 pt-4" tile outlined>
            <p class="subtitle-1 font-weight-light pt-3 text-center">
              YOU MIGHT ALSO LIKE
            </p>
            <v-divider></v-divider>

            <div>
              <v-container>
                <v-row no-gutters>
                  <v-col :cols="12">
                    <v-card-text tile outlined>
                      <div class="row">
                        <div
                          v-for="ads in adsBooks"
                          :key="'adsBook' + ads.id"
                          class="col-12 col-md-2 col-sm-6 col-xs-6 text-center"
                        >
                          <v-hover v-slot:default="{ hover }" open-delay="200">
                            <v-card :elevation="hover ? 16 : 2">
                              <v-img
                                class="white--text align-end"
                                height="200px"
                                contain
                                :src="
                                  ads.volumeInfo?.imageLinks?.smallThumbnail
                                "
                              >
                              </v-img>

                              <v-card-text class="text--primary text-center">
                                <div
                                  class="d-inline-block text-truncate"
                                  style="max-width: 250px"
                                >
                                  {{ ads?.volumeInfo?.title }}
                                </div>
                                <v-row>
                                  <v-col
                                    ><div
                                      class="red--text text-decoration-line-through"
                                    >
                                      {{ ads?.saleInfo?.listPrice?.amount }}
                                      {{
                                        ads?.saleInfo?.listPrice?.currencyCode
                                      }}
                                    </div></v-col
                                  >
                                  <v-col>
                                    <b>
                                      {{ ads?.saleInfo?.retailPrice?.amount }}
                                      {{
                                        ads?.saleInfo?.retailPrice?.currencyCode
                                      }}
                                    </b></v-col
                                  >
                                </v-row>
                              </v-card-text>

                              <div class="text-center">
                                <v-btn
                                  @click="toInfoBook(ads)"
                                  class="ma-2"
                                  outlined
                                  color="info"
                                >
                                  Explore
                                </v-btn>
                              </div>
                            </v-card>
                          </v-hover>
                        </div>
                      </div>
                    </v-card-text>
                  </v-col>
                </v-row>
              </v-container>
            </div>
          </v-card-text>
        </div>
      </div>
    </v-container>
    <v-card class="accent">
      <v-container> </v-container>
    </v-card>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data: () => ({
    rating: 4.5,
    adsBooks: [],
    book: null,
  }),
  computed: {
    bookId() {
      return this.$route.query.id;
    },
  },
  mounted() {
    this.getAds();
    this.getBook();
  },
  methods: {
    async getAds() {
      let randomNumber = Math.round(Math.random() * (10 - 5) + 5);
      await axios
        .get(
          `https://www.googleapis.com/books/v1/volumes?q=flowers+intitle&startIndex=${randomNumber}&maxResults=6&filter=paid-ebooks`
        )
        .then((response) => {
          this.adsBooks = response.data.items;
        });
    },
    getBook() {
      axios
        .get(`https://www.googleapis.com/books/v1/volumes/${this.bookId}`)
        .then((response) => {
          this.book = response.data;
        });
    },
    async toInfoBook(ads) {
      await this.getAds();
      await this.$router.push(`/book/?id=${ads.id}`);
      this.getBook();
    },
    addToFavorite() {
      this.$store.dispatch(`addToFavorite`, this.book);
    },
    removeFromFavorite() {
      this.$store.dispatch(`removeFromFavorite`, this.book);
    },
  },
};
</script>
