<template>
  <div class="row text-center">
    <div
      class="col-sm-6 col-xs-12"
      :class="'col-md-12'"
      :key="book.id"
      v-for="book in favorites"
    >
      <v-hover v-slot:default="{ hover }">
        <v-card class="mx-auto" color="grey lighten-4" :max-width="'900'">
          <v-row class="mx-3">
            <v-col :cols="'6'">
              <v-img
                class="white--text align-end"
                :aspect-ratio="16 / 9"
                contain
                :src="book.volumeInfo?.imageLinks?.smallThumbnail"
              >
                <div
                  v-if="book?.saleInfo?.saleability == 'FREE'"
                  class="free-book"
                >
                  Free
                </div>
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="d-flex transition-fast-in-fast-out white darken-2 v-card--reveal display-3 white--text"
                    style="height: 100%"
                  >
                    <v-btn
                      v-if="hover"
                      :to="`/book/?id=${book?.id}`"
                      class=""
                      outlined
                      >VIEW</v-btn
                    >
                  </div>
                </v-expand-transition>
              </v-img>
            </v-col>
            <v-col :cols="'6'">
              <v-card-text class="text--primary">
                <div>
                  <div
                    class="d-inline-block text-truncate"
                    style="max-width: 250px"
                  >
                    {{ book?.volumeInfo?.title }}
                  </div>
                </div>

                <v-row>
                  <v-col
                    ><div class="red--text text-decoration-line-through">
                      {{ book?.saleInfo?.listPrice?.amount }}
                      {{ book?.saleInfo?.listPrice?.currencyCode }}
                    </div></v-col
                  >
                  <v-col>
                    <b>
                      {{ book?.saleInfo?.retailPrice?.amount }}
                      {{ book?.saleInfo?.retailPrice?.currencyCode }}
                    </b></v-col
                  >
                </v-row>
              </v-card-text>
              <v-btn
                v-if="$store.getters.isBookInFavorites(book)"
                @click="removeFromFavorite(book)"
                class="info ml-4 white--text mt-10"
                outlined
                tile
                dense
                ><v-icon>mdi-heart</v-icon> Remove From Favorite</v-btn
              >
            </v-col>
          </v-row>
        </v-card>
      </v-hover>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    favorites: {
      get() {
        return this.$store.state.favorites;
      },
    },
  },
  methods: {
    removeFromFavorite(book) {
      this.$store.dispatch(`removeFromFavorite`, book);
    },
  },
};
</script>

<style></style>
