<template>
  <v-app id="inspire">
    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      app
      color="primary"
      dark
    >
      <v-toolbar-title style="width: 350px">
        <a href="/" class="white--text" style="text-decoration: none"
          ><v-icon>mdi-bookshelf</v-icon>&nbsp;Book Shelf</a
        >
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Search"
        class="hidden-sm-and-down pl-10 ml-4"
        v-model="searchInfo"
        @input="searchBook(searchInfo)"
      />
      <v-spacer />
      <v-btn to="/Favorite" icon>
        <v-badge :content="`${favoritesCount}`" color="green" overlap>
          <v-icon>mdi-heart-outline</v-icon>
        </v-badge>
      </v-btn>
    </v-app-bar>
    <v-content> </v-content>
    <router-view />
    <v-footer :padless="true">
      <v-card flat tile width="100%" class="secondary white--text text-center">
        <v-card-text class="white--text pt-0"> </v-card-text>

        <v-divider></v-divider>

        <v-card-text class="white--text">
          {{ new Date().getFullYear() }} Book Shelf
        </v-card-text>
      </v-card>
    </v-footer>
  </v-app>
</template>
<script>
import axios from "axios";

export default {
  data() {
    return {
      searchInfo: "",
      activeBtn: 1,
    };
  },
  computed: {
    favoritesCount: {
      get() {
        return this.$store.getters.favoritesCount;
      },
    },
  },
  methods: {
    searchBook(searchInfo) {
      if (!searchInfo) {
        searchInfo = "flowers";
      }
      axios
        .get(
          `https://www.googleapis.com/books/v1/volumes?q=${searchInfo}&maxResults=12`
        )
        .then((response) => {
          let listBooks = response.data.items;
          this.$store.dispatch(`setListBooks`, listBooks);
        });
    },
  },
};
</script>
