<template>
  <div>
    <div>
      <v-container>
        <v-row no-gutters>
          <v-col :cols="12">
            <v-card-text class="" tile outlined>
              <v-card-title class="subheading">Deals of the Day</v-card-title>
              <v-divider></v-divider>
              <div class="row">
                <div
                  v-for="ads in adsBooks"
                  :key="'adsBook' + ads.id"
                  class="col-12 col-md-2 col-sm-6 col-xs-6 text-center"
                >
                  <v-hover v-slot:default="{ hover }" open-delay="200">
                    <v-card :elevation="hover ? 16 : 2">
                      <v-img
                        class="white--text align-end"
                        height="200px"
                        contain
                        :src="ads.volumeInfo?.imageLinks?.smallThumbnail"
                      >
                      </v-img>

                      <v-card-text class="text--primary text-center">
                        <div
                          class="d-inline-block text-truncate"
                          style="max-width: 250px"
                        >
                          {{ ads?.volumeInfo?.title }}
                        </div>
                        <v-row>
                          <v-col
                            ><div
                              class="red--text text-decoration-line-through"
                            >
                              {{ ads?.saleInfo?.listPrice?.amount }}
                              {{ ads?.saleInfo?.listPrice?.currencyCode }}
                            </div></v-col
                          >
                          <v-col>
                            <b>
                              {{ ads?.saleInfo?.retailPrice?.amount }}
                              {{ ads?.saleInfo?.retailPrice?.currencyCode }}
                            </b></v-col
                          >
                        </v-row>
                      </v-card-text>

                      <div class="text-center">
                        <v-btn
                          :to="`/book/?id=${ads?.id}`"
                          class="ma-2"
                          outlined
                          color="info"
                        >
                          Explore
                        </v-btn>
                      </div>
                    </v-card>
                  </v-hover>
                </div>
              </div>
            </v-card-text>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-container>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <v-card outlined>
            <v-card-title>Filters </v-card-title>
            <v-divider></v-divider>
            <v-radio-group
              @change="getBooks"
              class="pa-3"
              v-model="selectedType"
              mandatory
            >
              <v-radio label="books" value="books" color="primary"></v-radio>
              <v-radio
                label="magazines"
                value="magazines"
                color="primary"
              ></v-radio>
            </v-radio-group>
            <v-divider></v-divider>
            <v-radio-group
              @change="getBooks"
              class="pa-3"
              v-model="selectedSale"
              mandatory
            >
              <v-radio
                label="free"
                value="free-ebooks"
                color="primary"
              ></v-radio>
              <v-radio
                label="paid"
                value="paid-ebooks"
                color="primary"
              ></v-radio>
            </v-radio-group>
            <v-divider></v-divider>
            <v-card-title>Price</v-card-title>
            <v-range-slider
              v-model="range"
              :max="max"
              :min="min"
              :height="10"
              class="align-center"
              dense
            ></v-range-slider>
            <v-row class="pa-2" dense>
              <v-col cols="12" sm="5">
                <v-text-field
                  :value="range[0]"
                  label="Min"
                  outlined
                  dense
                  @change="$set(range, 0, $event)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="2">
                <p class="pt-2 text-center">TO</p>
              </v-col>
              <v-col cols="12" sm="5">
                <v-text-field
                  :value="range[1]"
                  label="Max"
                  outlined
                  dense
                  @change="$set(range, 1, $event)"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-divider></v-divider>
            <v-card-title class="pb-0">Customer Rating</v-card-title>
            <v-container class="pt-0" fluid>
              <v-checkbox
                append-icon="mdi-star"
                label="4 & above"
                hide-details
                dense
              ></v-checkbox>
              <v-checkbox
                append-icon="mdi-star"
                label="3 & above"
                hide-details
                dense
              ></v-checkbox>
              <v-checkbox
                append-icon="mdi-star"
                label="2 & above"
                hide-details
                dense
              ></v-checkbox>
              <v-checkbox
                append-icon="mdi-star"
                label="1 & above"
                hide-details
                dense
              ></v-checkbox>
            </v-container>
            <v-divider></v-divider>
            <v-card-title class="pb-0">Language</v-card-title>
            <v-container class="pt-0" fluid>
              <v-radio-group
                @change="getBooks"
                class="pa-3"
                v-model="selectedLang"
                mandatory
              >
                <v-radio label="English" value="en" color="primary"></v-radio>
                <v-radio label="Thailand" value="th" color="primary"></v-radio>
              </v-radio-group>
            </v-container>
          </v-card>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
          <v-row dense>
            <v-col cols="12" sm="4" class="pl-6 pt-6">
              <small>Showing 1-12 of 200 products</small>
            </v-col>
            <v-col cols="12" sm="2" class="text-right pt-3">
              <span>Sort By</span>
            </v-col>
            <v-col cols="12" sm="4" class="text-right">
              <v-select
                class="pa-0"
                v-model="select"
                :items="options"
                style="margin-bottom: -20px"
                outlined
                dense
                @change="getBooks"
              ></v-select>
            </v-col>
            <v-col cols="12" sm="2">
              <div class="text-right">
                <v-btn-toggle v-model="toggle" dense>
                  <v-btn>
                    <v-icon>mdi-apps</v-icon>
                  </v-btn>
                  <v-btn>
                    <v-icon>mdi-format-list-bulleted-square</v-icon>
                  </v-btn>
                </v-btn-toggle>
              </div>
            </v-col>
          </v-row>

          <v-divider></v-divider>

          <div class="row text-center">
            <div
              class="col-sm-6 col-xs-12"
              :class="toggle == 0 ? 'col-md-3' : 'col-md-12'"
              :key="book.id"
              v-for="book in listBooks"
            >
              <v-hover v-slot:default="{ hover }">
                <v-card
                  class="mx-auto"
                  color="grey lighten-4"
                  :max-width="toggle == 0 ? '600' : '900'"
                >
                  <v-row class="mx-3 mt-3">
                    <v-col :cols="toggle == 0 ? '12' : '6'">
                      <v-img
                        class="white--text align-end"
                        :aspect-ratio="16 / 9"
                        contain
                        :src="book.volumeInfo?.imageLinks?.smallThumbnail"
                      >
                        <div
                          v-if="book?.saleInfo?.saleability == 'FREE'"
                          class="free-book"
                        >
                          Free
                        </div>
                        <v-expand-transition>
                          <div
                            v-if="hover"
                            class="d-flex transition-fast-in-fast-out white darken-2 v-card--reveal display-3 white--text"
                            style="height: 100%"
                          >
                            <v-btn
                              v-if="hover"
                              :to="`/book/?id=${book?.id}`"
                              class=""
                              outlined
                              >VIEW</v-btn
                            >
                          </div>
                        </v-expand-transition>
                      </v-img>
                    </v-col>
                    <v-col :cols="toggle == 0 ? '12' : '6'">
                      <v-card-text class="text--primary">
                        <div>
                          <div
                            class="d-inline-block text-truncate"
                            style="max-width: 250px"
                          >
                            {{ book?.volumeInfo?.title }}
                          </div>
                        </div>

                        <v-row>
                          <v-col
                            ><div
                              class="red--text text-decoration-line-through"
                            >
                              {{ book?.saleInfo?.listPrice?.amount }}
                              {{ book?.saleInfo?.listPrice?.currencyCode }}
                            </div></v-col
                          >
                          <v-col>
                            <b>
                              {{ book?.saleInfo?.retailPrice?.amount }}
                              {{ book?.saleInfo?.retailPrice?.currencyCode }}
                            </b></v-col
                          >
                        </v-row>
                      </v-card-text>
                    </v-col>
                  </v-row>
                </v-card>
              </v-hover>
            </div>
          </div>
          <div class="text-center mt-12">
            <v-pagination v-model="page" :length="6"></v-pagination>
          </div>
        </div>
      </div>
    </v-container>
    <v-card class="accent">
      <v-container> </v-container>
    </v-card>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data: () => ({
    toggle: 0,
    selectedLang: "en",
    selectedType: "books",
    selectedSale: "free-ebooks",
    adsBooks: [],
    range: [0, 10000],
    select: "relevance",
    options: ["relevance", "newest"],
    page: 1,
    min: 0,
    max: 10000,
  }),
  computed: {
    listBooks: {
      get() {
        return this.$store.state.books;
      },
    },
  },
  mounted() {
    this.getAds();
    this.getBooks();
  },
  methods: {
    getAds() {
      let randomNumber = Math.round(Math.random() * (10 - 5) + 5);
      axios
        .get(
          `https://www.googleapis.com/books/v1/volumes?q=flowers+intitle&startIndex=${randomNumber}&maxResults=5&filter=paid-ebooks`
        )
        .then((response) => {
          this.adsBooks = response.data.items;
        });
    },
    getBooks() {
      axios
        .get(
          `https://www.googleapis.com/books/v1/volumes?q=flowers+intitle&maxResults=12&filter=${this.selectedSale}&printType=${this.selectedType}&langRestrict=${this.selectedLang}&orderBy=${this.select}`
        )
        .then((response) => {
          let listBooks = response.data.items;
          this.$store.dispatch(`setListBooks`, listBooks);
        });
    },
  },
};
</script>
<style>
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.8;
  position: absolute;
  width: 100%;
}
.free-book {
  position: absolute;
  top: 5px;
  right: 1px;
  display: inline;
  padding: 5px 8px;
  color: white;
  font-size: 0.9em;
  background: #e0ca06;
  border-radius: 1px;
}
</style>
